body {
  background-color: #DAF3FF;
  color: #000000;
}

.control-buttons button {
  color: #000000;
}

.workouts {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
  }

  .workouts button {
    background-color: #DAF3FF;
    border: #518197;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }


  /* HOME END, PREVIEW CARD CSS */

  .previewcard {
    width: 330px;
    height: 180px;
    background-color: #D9D9D9;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    margin: 2rem;
  }
  
  .gif {
    width: 150px;
    height: 150px;
    background-color: #F5F5F5;
    border-radius: .7rem;
    margin: 1rem;
  }
  
  .groupText p{
    margin-top: -1rem;
  }

  .back_color_1 {
    background-color: #77D9E8;
  }
  .back_color_2 {
    background-color: #FFA442;
  }


  /* WORKOUT PREVIEW CSS  BEGINS BELOW*/

  .wrapper_preview {
    display: flex;
    flex-direction: column;
  }

  .workout_preview {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .back_button{
    width: 80vw;
    display: flex;
    justify-content: baseline;
  }


  /*  CONFIRM PAGE CSS BELOW */


  .wrapper_confirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }


  .time {
    color: #666cfb;
    font-weight: 600;
    cursor:pointer; 
    /* text-decoration: underline; */
  }


  /* PARTICIPANTS CSS */

  .count{
    background-color: #D9D9D9;
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .control-buttons{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .control-buttons button{
    width: 75px;
    height: 75px;
    background-color: #D9D9D9;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .container_particpants{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }


  /* DONE/ALL SET CSS BEGINS BELOW */

  .timeleft {
    background-color: #D9D9D9;
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    font-size: 4.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper_done{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button_container {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
  }

/* LOADING CSS
.logo-loader {
  width: 100px;
  height: auto;
} */

