.wcard {
    /* padding: "20px"; */
    /* background-color: #D9D9D9;; */
    background-color: #77D9E8;
    /* background-color: #ADD0E9; */
    color: #000000;
    width: 390px;
    height: 390px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 1.8rem;
    /* border: "1px solid #ccc"; 
    border-radius: "8px"  */
}

#timeButton{
    /* background-color: #B2F5FF; */
    border-radius: 2rem;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color2 {
    background-color: #77D9E8;
}
.color_2 {
    background-color: #B2F5FF;
}
.color1 {
    background-color: #FFA442;
}
.color_second {
    background-color: #FFE1C0;
}



/* .wcard :hover{
    outline: 2px solid black;
} */

/* .color1{
    background-color: ;
} */


.timeButton2{
    background-color: #FFE1C0;
    border-radius: 2rem;
    width: 10rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* align-content: flex-end; */
}

.bottom h2 {
    font-size: 3.1rem;
    margin-top: 10rem;
    margin-bottom: -1rem;
}

.bottom p{
    text-align: left;
    font-size: 1.1rem;
}

